.about-creative-portfolio{
	text-align: center;
	margin: 0 auto;
	margin-top: 130px;
}
.about-creative-portfolio-main-name{
	font-family: 'Vidaloka';
	font-weight: normal;
	font-size: 36px;
	text-align: center;
	padding-bottom: 30px;
}
.about-creative-portfolio-text{
	font-family: 'Open Sans';
	font-weight: normal;
	font-size: 16px;
	color: #969595;
	padding-bottom: 121px;
}
.about-creative-portfolio-menu{
	list-style: none;
	text-align: center;
	display: flex;
	justify-content: center;
	padding-bottom: 119px;
}
.about-creative-portfolio-menu a li{
	color: #000;
	padding: 10px 70px;
	margin: 0px 10px;
	border: solid 1px #ffda00;
	transition: all 0.4s;
}
.about-creative-portfolio-menu a li:hover{
	background-color: #ffda00;
	color: #fff;
}

ul.about-creative-portfolio-menu a{
	text-decoration: none;
}
