@media(max-width: 1199px){
	.nav-menu ul.sub-menu li a{
		font-size: 14px;
	}
	.header-main-text{
		font-size: 90px !important;
	}
	.header-main-text span{
		font-size: 200px !important;
	}
	.sub-menu li{
		padding-top: 20px;
	}
	.search-block{
		position: relative;
   		bottom: 8px;
	}
	.search-block i.fa-search{
		left: 10px;
    	top: 27px;
	}
	.main-menu{
		margin-bottom: 60px !important;
	}
	.about-creative-portfolio-text {
		padding-bottom: 40px;
	}
	.about-creative-portfolio-menu{
		flex-direction: column;
		align-items: center;
		padding-bottom: 0 !important;
	}
	.about-creative-portfolio-menu a li{
		margin: 10px !important;
	}
	ul.about-creative-portfolio-menu a{
		width: 400px !important;
	}
}
@media(max-width: 991px){
	body.lock{
		overflow: hidden;
	}
	.search-block{
		bottom: 0;
	}
	.search-block i.fa-search{
		left: 30px;
		top: 0;
	}
	.search-block.active{
		visibility: hidden;
	}
	.header-main-text{
		font-size: 75px !important;
	}
	.header-main-text span{
		font-size: 150px !important;
	}
	.header-main-text {
		line-height: 200px !important;
	}
	.main-menu form input{
		width: 110px !important;
	}
	.main-menu{
		margin-bottom: 0 !important;
	}
	.nav-menu{
		position: fixed;
		top: -100%;
		left: 0;
		overflow: auto;
		width: 100%;
		height: 100%;
		background-color: #05caa7;
		padding: 70px 10px 20px 10px;
		transition: all 0.4s ease 0s;
	}
	.nav-menu.active{
		top: 0;
	}
	.sub-menu.active{
		flex-direction: column;
		text-align: center;
	}
	.link-menu.active{
		padding: 0 !important;
		font-size: 22px !important;
	}
	.burger-menu{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 2;
	}
	.burger-menu.active{
		right: 18px;
		bottom: 25px;
	}
	.burger-menu span{
		content: '';
		position: absolute;
		background-color: #fff;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
		transition: all 0.3s ease 0s;
	}
	.burger-menu:before,
	.burger-menu:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.burger-menu:before{
		top: 0;
	}
	.burger-menu:after{
		bottom: 0;
	}
	.burger-menu.active:before{
		transform: rotate(45deg);
		top: 9px;
	}
	.burger-menu.active span{
		transform: scale(0);
	}
	.burger-menu.active:after{
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.small-images {
		flex: 2;
	}
	.big-image {
		flex: 1;
	}
}
@media(max-width: 769px){
	.about-website-main-name {
		font-size: 26px;
	}
	.header-main-text {
		font-size: 50px;
	}
	.header-main-text span {
		font-size: 115px !important;
	}
	.header-main-text {
		line-height: 140px !important;
	}
	.about-awards-group-number {
		font-size: 40px;
	}
	.about-awards-group-text {
		font-size: 16px;
	}
	.about-awards-group img {
		padding-bottom: 25px;
	}
	.about-awards-group {
		padding-top: 50px;
	}
	.about-subscribe-main input{
		margin-bottom: 20px;
	}
	.about-gallery-group {
		flex-direction: column;
		align-items: center;
	}
	.about-gallery {
		margin: 80px 0;
	}
	.about-gallery-group1 {
		width: 200px !important;
	}
	.about-creative-service {
		margin: 100px 0;
	}
	.about-creative-service-text {
		margin-bottom: 50px;
	}
	.about-creative-service {
		margin-inline: auto;
		text-align: center;
	}
	.about-creative-service-group-element1,
	.about-creative-service-group-element2,
	.about-creative-service-group-element3,
	.about-creative-service-group-element4,
	.about-creative-service-group-element5,
	.about-creative-service-group-element6 {
		width: 350px;
		margin-inline: auto;
	}
	.about-website-group {
		margin-bottom: 100px;
	}
	.about-our-clients {
		padding: 70px 0;
	}

	.about-website-group-user_interface {
		margin-left: 40px;
	}
}

@media(max-width: 470px){
	.main-menu {
		padding-top: 20px;
	}
	.search-block {
		display: none;
	}
	.burger-menu.active {
		top: 30px;
		right: 200px;
	}
	.header-main-text{
		font-size: 60px !important;
		line-height: 110px !important;
	}
	.header-main-text span{
		font-size: 90px !important;
	}
	.about-website-main-name{
		font-size: 20px !important;
		margin-bottom: 100px !important;
	}
	.about-website-group{
		margin-bottom: 100px !important;
	}
	.about-awards-group-number{
		font-size: 46px !important;
	}
	.ul.about-creative-portfolio-menu a{
		width: 315px !important;
	}
	.about-subscribe-main input{
		width: 300px !important;
		margin-bottom: 20px !important;
	}
	.about-subscribe-main button{
		margin-left: 0 !important;
	}
	.about-website-group-user_interface {
		margin-bottom: 25px;
	}
	.about-website-group-user_interface {
		margin-left: 70px;
	}
}

@media(max-width: 375px) {
	ul.about-creative-portfolio-menu a {
		width: 300px !important;
	}
	.about-creative-service-group-element1, 
	.about-creative-service-group-element2, 
	.about-creative-service-group-element3, 
	.about-creative-service-group-element4, 
	.about-creative-service-group-element5,
	 .about-creative-service-group-element6 {
		width: 300px;
	}
	.about-creative-service-group-element6 span,
	.about-creative-service-group-element4 span,
	.about-creative-service-group-element3 span,
	.about-creative-service-group-element2 span,
	.about-creative-service-group-element1 span {
		padding: 5px;
	}
}

@media(max-width: 320px) {
	.burger-menu.active {
		right: 133px;
		bottom: 0;
	}
}