.about-gallery-group {
    display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.big-image {
    flex: .7;
}

.small-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 3;
	justify-content: space-evenly;
    align-items: center;
}

.small-images > div {
	margin: 10px;
	width: 200px; 
    height: auto;
}

.about-gallery-group div a img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
    object-fit: cover;
}
.small-images div a img {
	width: 250px;
    height: 200px;
}

.clear {
    clear: both;
}